#my-jobs {
    margin-top: 64px;

    .ui.vertical.menu.fluid {
        height: 101px;
        a {
            height: 50%;
            display: flex;
            align-items: center;
        }
    }
    .active.item {
        background: #163B65;
        color: white;
        .icon-for-job {
            color: white;
        }
    }
    .icon-for-job {
        color: #163B65;
        margin: 0 10px;
    }
    .tab-pane-job {
        padding: 0;
        border: unset;
    }
}