#user-list {
    padding: 32px 100px;
    .direction-path {
        color: #625C66;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .buttons-row {
        display: flex;
        justify-content: space-between;
    }
    .new-user-mnmt-tile {
        color: #595959;
        font-size: 24px;
        font-weight: 500;
    }
    .btn-custom {
        justify-content: center;
        width: 180px;
        height: 32px;
        &.left {
            margin: 0 6px;
        }
        span {
            height: 32px;
            color: #666666;
            font-size: 14px;
        }
    }

    .ui.search {
        min-width: 200px;
        .prompt {
            border-radius: 3px;
        }
        .input {
            min-width: 247px;
        }
        .input>input:focus {
            border-color: unset;
        }
    }

}

#hm-custom-table {
    .container-drop {
        outline: none;
    }

    .tooltip-me {
        position: relative;
        display: inline-block;
    }
    .tooltip-me .tooltiptext-me {
        visibility: hidden;
        min-width: 200px;
        background-color: #403294;
        color: #fff;
        text-align: center;
        border-radius: 3px;
        padding: 4px;
        margin: 0;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
    }
    
    .tooltip-me:hover .tooltiptext-me {
        visibility: visible;
    }

    .account-user-container {
        display: flex;
        .user-container {
            .user-phone {
                color: #8993A4;
                font-size: 12px;
            }
        }
    }
}