#hm-date-time-picker {
    min-height: 126px;
    min-width: 230px;
    .date-title {
        color: #6C798F;
        font-size: 12px;
        font-weight: 600;
        &.end {
            padding-top: 6px;
        }
    }
    .hm-dropdown-item {
        div {
            background-color: #F4F5F7;
            border-radius: 3px;
        }
        .css-1g48xl4-IndicatorsContainer {
            padding-right: 8px;
            .sc-bdVaJa.ixkqUR {
                color: #42526ea1;
            }
        }
        .css-lrg2au-singleValue {
            color: #7A869A;
            font-size: 14px;
        }
    }
    .filter-datetime-btn {
        float: right;
        margin-top: 10px;
    }
}