#applied-jobs {
    .not-found-data-job-container {
        text-align: center;
        padding: 40px 0;
        border: 0.6px solid #97979763;
        border-radius: 8px;
    }
    .no-job-text {
        font-size: 14px;
        font-weight: 500;
    }
    .m-t-28 {
        margin-top: 28px;
    }
    .m-t-8 {
        margin-top: 8px;
    }
    .biscay-bold {
        color: #2664AB;
        font-weight: 600;
    }
}