#my-menu {
    .nav-sidebar {
        .nav-item {
            .nav-link {
                &.active {
                    background: #6c3f99;
                    box-shadow: unset !important;
                }
            }
        }
    }
    .sidebar-container {
        background: #6C3F99 !important;
    }
    .brand-container {
        height: 72px;
    }
}