@import "../../../../variables.scss";

#desktop-header {
    .desktop-header-menu {
        height: 64px;
        background: white;
        border-bottom: 0.5px solid #C8C8C8;
        box-shadow: unset;
        .menu-item {
            color: black;
            &:hover {
                background-color: $primary_color;
                color: white;
            }
            &.active {
                background-color: $primary_color;
                color: white !important;
            }
        }
        .menu-item::before {
            background: unset;
        }
        .menu-item-right {
            .menu-item-inside::before {
                background: unset;
            }
        }
    }
}